weather_app/schemas/metobs_v1.xsd.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:metobs="https://opendata.smhi.se/xsd/metobs_v1.xsd" xmlns:portal="https://opendata.smhi.se/xsd/portal.xsd" targetNamespace="https://opendata.smhi.se/xsd/metobs_v1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="https://opendata.smhi.se/xsd/portal.xsd" />

  <xs:element name="metObsCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="key" type="xs:int" />
              <xs:element name="value" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- METOBS PARAMETER -->
  <xs:element name="metObsParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="updated" type="xs:dateTime" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="valueType" type="metobs:metObsValueType" />
        <xs:element name="link" type="portal:linkType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="stationSet" type="portal:linksType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="station" type="metobs:metObsStationLinksType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- METOBS STATION -->
  <xs:element name="metObsStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="updated" type="xs:dateTime" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
        <xs:element name="position" type="metobs:metObsPosition" minOccurs="1" maxOccurs="unbounded" />
        <xs:element name="link" type="portal:linkType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="period" type="portal:linksType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- METOBS STATION SET -->
  <xs:element name="metObsStationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="updated" type="xs:dateTime" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="link" type="portal:linkType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="period" type="portal:linksType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="metObsStationLinksType">
    <xs:complexContent>
      <xs:extension base="portal:linksType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="id" type="xs:int" />
          <xs:element name="height" type="xs:double" />
          <xs:element name="latitude" type="xs:double" />
          <xs:element name="longitude" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="metObsPosition">
    <xs:sequence>
      <xs:element name="from" type="xs:dateTime" />
      <xs:element name="to" type="xs:dateTime" />
      <xs:element name="height" type="xs:double" />
      <xs:element name="latitude" type="xs:double" />
      <xs:element name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>

  <!-- METOBS PERIOD -->
  <xs:element name="metObsPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="updated" type="xs:dateTime" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
        <xs:element name="link" type="portal:linkType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="data" type="portal:linksType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="metObsValueType">
	<xs:restriction base="xs:string">
	  <xs:enumeration value="SAMPLING" />
	  <xs:enumeration value="INTERVAL" />
	</xs:restriction>
  </xs:simpleType>
  
  <!-- METOBS DATA -->
  <xs:complexType name="metObsDataType">
    <xs:sequence>
      <xs:element name="updated" type="xs:dateTime" />
      <xs:element name="parameter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="summary" type="xs:string" />
            <xs:element name="unit" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="station">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="height" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="period">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="from" type="xs:dateTime" />
            <xs:element name="to" type="xs:dateTime" />
            <xs:element name="summary" type="xs:string" />
            <xs:element name="sampling" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="position" type="metobs:metObsPosition" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="link" type="portal:linkType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!-- METOBS STATION SET DATA -->
  <xs:complexType name="metObsStationSetDataType">
    <xs:sequence>
      <xs:element name="updated" type="xs:dateTime" />
      <xs:element name="parameter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="name" type="xs:string" />
            <xs:element name="summary" type="xs:string" />
            <xs:element name="unit" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="period">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="from" type="xs:dateTime" />
            <xs:element name="to" type="xs:dateTime" />
            <xs:element name="summary" type="xs:string" />
            <xs:element name="sampling" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="link" type="portal:linkType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="metObsSampleData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="metobs:metObsDataType">
          <xs:sequence>
            <xs:element name="value" type="metobs:metObsSampleValueType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="metObsIntervalData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="metobs:metObsDataType">
          <xs:sequence>
            <xs:element name="value" type="metobs:metObsIntervalValueType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="metObsStationSetSampleData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="metobs:metObsStationSetDataType">
          <xs:sequence>
            <xs:element name="station" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
		        <xs:sequence>
		          <xs:element name="key" type="xs:string" />
		          <xs:element name="name" type="xs:string" />
			      <xs:element name="from" type="xs:dateTime" />
			      <xs:element name="to" type="xs:dateTime" />
			      <xs:element name="height" type="xs:double" />
			      <xs:element name="latitude" type="xs:double" />
			      <xs:element name="longitude" type="xs:double" />
                  <xs:element name="value" type="metobs:metObsSampleValueType" minOccurs="0" maxOccurs="unbounded" />
		        </xs:sequence>
		      </xs:complexType>
		    </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="metObsStationSetIntervalData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="metobs:metObsStationSetDataType">
          <xs:sequence>
            <xs:element name="station" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
		        <xs:sequence>
		          <xs:element name="key" type="xs:string" />
		          <xs:element name="name" type="xs:string" />
			      <xs:element name="from" type="xs:dateTime" />
			      <xs:element name="to" type="xs:dateTime" />
			      <xs:element name="height" type="xs:double" />
			      <xs:element name="latitude" type="xs:double" />
			      <xs:element name="longitude" type="xs:double" />
                  <xs:element name="value" type="metobs:metObsIntervalValueType" minOccurs="0" maxOccurs="unbounded" />
		        </xs:sequence>
		      </xs:complexType>
		    </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- METOBS VALUE -->
  <xs:complexType name="metObsSampleValueType">
    <xs:sequence>
      <xs:element name="date" type="xs:dateTime" />
      <xs:element name="value" type="xs:string" />
      <xs:element name="quality" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="metObsIntervalValueType">
    <xs:sequence>
      <xs:element name="from" type="xs:dateTime" />
      <xs:element name="to" type="xs:dateTime" />
      <xs:element name="ref" type="xs:string" />
      <xs:element name="value" type="xs:string" />
      <xs:element name="quality" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
